{% extends 'base.html.twig' %}

{% block title %}Виртуальный зоопарк{% endblock %}
{% block body %}
    <div id="zoo-app"></div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('frontend') }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('frontend') }}
{% endblock %}

